{% extends 'userena/base_userena.html' %}
{% load i18n bootstrap %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-offset-3 col-md-6">
<form action="" method="post" class="well">
  {% csrf_token %}
  <div class="form-group">
    <legend>{% trans "Signin" %}</legend>
    {{ form|bootstrap }}
  </div>
    <input type="submit" value="{% trans "Signin" %}" class="btn btn-primary btn-block" />
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
  <br />
    <div class="alert alert-info">
      <a class="alert-link" href="{% url 'userena_password_reset' %}" title="{% trans "Forgot your password?" %}">{% trans "Forgot your password?" %}</a>
    </div>
</form>

</div>
</div>
{% endblock %}
