{% extends "base-simplepage.html" %}

{% block content %}

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">Suppression de votre recherche</h3>
			</div>
			<div class="panel-body">
	<form action="" method="POST" class="form-horizontal">
		{% csrf_token %}
		<p>
			Souhaitez-vous vraiment supprimer votre recherche ?<br /> 
			<span class="lead">{% autoescape off %}{{ object }}{% endautoescape %}</span>
			{% if object.description %}
			<h5>Message destiné aux vendeurs</h5>
			<blockquote>{{ object.description|linebreaksbr }}</blockquote>
			{% endif %}
		</p>
			<input type="submit" class="btn btn-danger" value="Oui" />
			<input class="btn" type="button" onclick="history.back()" value="Non" />
		</div>
	</div>
	</form>
</div>
{% endblock content %}
